<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>mtbcalendar_v045</string>
	<key>CFBundleIdentifier</key>
	<string>com.mtbcalendar.widget.mtbcalendar</string>
	<key>CFBundleName</key>
	<string>mtbcalendar_v045</string>
	<key>CFBundleShortVersionString</key>
	<string>0.45</string>
	<key>CFBundleVersion</key>
	<string>0.45</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>220</integer>
	<key>MainHTML</key>
	<string>mtbcalendar_multifeed.html</string>
	<key>Width</key>
	<integer>280</integer>
</dict>
</plist>
